* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #1e4d60;
}
#block {
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.first {
  height: auto;
  border:5px solid #fff;
  position: relative;
  top: 10%;
  left: 10%;
}
/* IMAGES */
.rome{
  background-image: url("img/rome.jpg");
  background-size: cover;
  width: 300px;
  height: 200px;
  opacity: 0.8;
}
.bucharest {
  background-image: url("img/bucharest.jpg");
  background-size: cover;
  width: 300px;
  height: 200px;
  opacity: 0.8;
}
.tokyo {
  background-image: url("img/tokyo.jpg");
  background-size: cover;
  width: 300px;
  height: 200px;
  opacity: 0.8;
}
/* TEXT */
.text {
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  font-family: Comic;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
#block:hover .text {
  display: block;
}
